.hello{
    color: red;
}/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.message-error, .message-valid, .message-warning, .message-info {
  padding: .5em;
  margin-bottom: .5em;
  border-radius: .15em;
  border: 1px solid; }

/*@mixin message($color) {
    @extend %message;
    color: $color;
    border-color: lighten($color, 20%);
    background: lighten($color, 40%);
}*/
/*Gracefully handling errors*/
/*maping in sass*/
.message-error {
  color: #b94a48;
  border-color: #d59392;
  background: #f1dcdc; }

.message-valid {
  color: #468847;
  border-color: #7aba7b;
  background: #bdddbd; }

.message-warning {
  color: #c09853;
  border-color: #dbc59e;
  background: #f7f1e8; }

.message-info {
  color: #3a87ad;
  border-color: #7ab5d3;
  background: #c7e0ec; }

body {
  font: verdana, sans-serif;
  background-color: #f3e2c7; }
  body h1, body h2 {
    color: #b68d4c; }

.container {
  display: flex;
  flex-direction: row;
  background-color: yellow;
  flex-wrap: wrap; }
  @media (max-width: 767px) {
    .container {
      flex-direction: column; } }
  .container .item {
    background-color: red;
    flex-grow: 1;
    border: 1px green solid; }
    @media (max-width: 767px) {
      .container .item {
        color: pink; } }
